*{
    margin: 0px;
}

img {
    
    margin-left: 30%;
    width: 30%;
    height: 30%;
    margin-bottom: -2%;
}

h1{
    padding: 1px;
    text-align: center; 
    color: blue;
    
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 70px;

}

.menu_nav {
    font-size: 18px;
    display: inline-block;
    color: blue;
    text-decoration: none;

}

.menu_nav:hover {
    color: blue;
    background-color: red;

}

.nav {
    width: 100%;
    background-image: linear-gradient(rgb(0, 255, 0), rgb(145, 255, 0));
    box-shadow: 1px 1px 5px #830610;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
}




.logowh, .logofc, .logoit, .logotw, .logoyt, .logogm{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50px;
    
}




/*css del desplegable de contactos*/
.cont_des {
    display: inline-block;
    position: relative;
    width: 90px;
}

.cont_desplegable {
    margin-top: 10;
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.cont_des:hover .cont_desplegable {
    display: block;
    color: blue;
}

.cont_desplegable a {
    display: block;
    color: #000000;
    padding: 15px;
    text-decoration: none;

}

.cont_desplegable a:hover {
    color: #FFFFFF;
    background-color: #00A4bd;
}


/*pie de pagina*/
 .footer {
    box-shadow: 1px 1px 4px #830610;
    background-color: aquamarine;
}

.byc{
    display: inline-block;
    justify-items: center;
    
}

.pie_pagina{
    display: flex;
    justify-content: end;
}

/*media query*/
@media (max-width: 600px) {
    .nav {
        /* background-color: black; */
        display: block;
    }

    img{
        width: 70%;
        height: 70%;
    }
    .menu_nav {
        padding: 5px;
        font-size: 13px;

    }
    h1{
        font-size: 90%;
    }
    .pie_pagina img{
        width: 30px;
        height: 30px;
    }
}