.cont_des {
    display: inline-block;
    position: relative;
}

.cont_desplegable {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.cont_des:hover .cont_desplegable {
    display: block;
    color: blue;
    background-color: red;
}

.cont_desplegable a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;

}

.cont_desplegable a:hover {
    color: #FFFFFF;
    background-color: #00A4bd;
}