* {
    margin: 0px;
    padding: 0px;
    height: auto;
}

h1 {
    color: red;
    padding: 70px 10px 10px;
}

h3 {
    color: rgb(33, 11, 160);
}

.menu_nav {
    font-size: 18px;
    display: inline-block;
    color: blue;
    text-decoration: none;

}

.menu_nav:hover {
    color: blue;
    background-color: red;

}

.nav {
    width: 100%;
    background-image: linear-gradient(rgb(0, 255, 0), rgb(145, 255, 0));
    box-shadow: 1px 1px 5px #830610;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;

}
.contenido{
background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}


.logowh, .logofc, .logoit, .logotw, .logoyt {
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50px;


}

/*css del desplegable de contactos*/
.cont_des {
    display: inline-block;
    position: relative;
    width: 90px;
}

.cont_desplegable {
    margin-top: 10;
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.cont_des:hover .cont_desplegable {
    display: block;
    color: blue;
    /* background-color: red; */
}

.cont_desplegable a {
    display: block;
    color: #000000;
    padding: 15px;
    text-decoration: none;

}

.cont_desplegable a:hover {
    color: #FFFFFF;
    background-color: #00A4bd;
}

/*pie de pagina*/
.footer {
    box-shadow: 1px 1px 4px #830610;
    background: linear-gradient(to top, lime, 20%, cyan);
}

.byc{
    display: inline-block;
    justify-items: center;
    
}

.pie_pagina {
    display: flex;
    justify-content: end;

}

@media (max-width: 600px) {
    .nav {
        display: block;
    }

    .menu_nav {
        padding: 5px;
        font-size: 13px;

    }

    .contenido {
        font-size: 85%;
    }

}